beautifulsoup4==4.13.3
bs4==0.0.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
idna==3.10
-e git+ssh://git@github.com/mattprice0009/mdh-hockey.git@c171ec09a056f1a190e5d0da3cd637f8e2013cad#egg=mdhhockey
msal==1.31.1
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
requests==2.32.3
six==1.17.0
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.3.0
